.graph_properties{

    .plus_input{
       top: 25.2%;
        left: 87%;
    }
    .o-dropdown--menu{

    position: fixed;
    top: 278.1562px;
    left: 17.719px;
    background: black;
    width: 90%;
    max-height: 60%;
    }
}